# Data Preprocessing

In [34]:
# Importer les librairies

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importer le dataset
dataset = pd.read_csv('data_set1/input_training_ssnsrY0.csv')
X = dataset.iloc[:, 1:].values

In [35]:
X

array([['2016-11-01T00:00:00.0', 8.3, nan, ..., 143, 74, 168],
       ['2016-11-01T01:00:00.0', 8.0, nan, ..., 141, 60, 162],
       ['2016-11-01T02:00:00.0', 6.8, nan, ..., 142, 60, 164],
       ...,
       ['2017-10-31T21:00:00.0', 9.0, 10.0, ..., 190, 135, 208],
       ['2017-10-31T22:00:00.0', 8.0, 9.0, ..., 188, 133, 197],
       ['2017-10-31T23:00:00.0', 7.0, 7.9, ..., 198, 128, 189]],
      dtype=object)

In [29]:
# Fonction pour explorer les donnees

def explore_data(dataset, start, end, rows_and_colums=False):
    data_slice = dataset[start:end]
    for row in data_slice:
        print(row)
        print('\n')

In [30]:
explore_data(X, 0, 2)

[0 '2016-11-01T00:00:00.0' 8.3 nan 11.1 95.0 nan '(50.633, 3.067)'
 '(43.530, 5.447)' '(44.838, -0.579)' '(47.478, -0.563)' '(48.867, 2.333)'
 143 74 168]


[1 '2016-11-01T01:00:00.0' 8.0 nan 11.1 98.0 nan '(50.633, 3.067)'
 '(43.530, 5.447)' '(44.838, -0.579)' '(47.478, -0.563)' '(48.867, 2.333)'
 141 60 162]

In [31]:
print("Total row in dataset:", len(dataset))

Total row in dataset: 8760